# =============== #
# Unity generated #
# =============== #
/Zelda_Game/[Tt]emp/
/Zelda_Game/[Oo]bj/
/Zelda_Game/[Bb]uild
/Zelda_Game/[Bb]uilds/
/Zelda_Game/[Ll]ibrary/
/Zelda_Game/[Ll]ogs/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/